.call-header {
    background-image:url('/InCall.jpg') ;
    background-size: 50vh;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    background-color: black;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  .call-button {
    position: absolute;
    top: 90vh;
    left: 48vw;
    border:black;
    border-style: solid;
    width: 3vw;
    height: 5vh;
  
  
  }
  .VM-header {
    background-image:url('/InCallVoicemail.jpg') ;
    background-size: 50vh;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    background-color: black;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  .call-sett-button {
    position: absolute;
    top: 3.4vh;
    left: 58.5vw;
    border:black;
    border-style: solid;
    width: 3.7vw;
    height: 5.6vh;
  
  
  }