.dialpad-header {
    background-image:url('/DialpadWithNumber.jpg') ;
    background-size: 50vh;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    background-color: black;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  .dialpad-button {
    position: absolute;
    top: 76vh;
    left: 48.2vw;
    border:black;
    border-style: solid;
    width: 3vw;
    height: 3vw;
  
  
  }
  .saved-button {
    position: absolute;
    top: 89.5vh;
    left: 43vw;
    border:black;
    border-style: solid;
    width: 3vw;
    height: 6vh;
  }
  .VM-button {
    position: absolute;
    top: 89.5vh;
    left: 59vw;
    border:black;
    border-style: solid;
    width: 3vw;
    height: 6vh;
  }